body {
  background-color: #efefef;
}
.container {
  background-color: #efefef;
  width: 980px;
  height: 100vh;
  margin: 0 auto;
}

.header {
  background-color: #efefef;
  height: 60px;
  display: flex;
  width: 15%;
  background-image: url('./images/logo.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  border-top: 1px solid black;
  background-color: #ffffff;
  padding-bottom: 150px;
}

.cart {
  width: 900px;
  margin: 0 auto;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  padding: 42px 0px;
}

.cart-header-h1 {
  padding-left: 8px;
  font-size: 35px;
  font-weight: bold;
}

.cart-header-nav {
  width: 44%;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-header-nav li {
  color: grey;
  font-weight: bold;
}

.nav-active {
  color: black;
}

.nav-active span {
  color: #139ee8;
}

.cart-main {
}

.cart-main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-main-nav div {
  width: 50%;
  height: 100%;
  text-align: center;
  line-height: 50px;
}

.cart-main-nav div:nth-child(1) {
  color: #346aff;
  font-weight: bold;
  border: 1px solid #346aff;
  border-bottom: none;
}

.cart-main-nav div:nth-child(2) {
  background-color: #f9fafb;
  border-bottom: 1px solid #346aff;
}

.cart-main-nav div:nth-child(2):hover {
  background-color: #eaedf0;
}

.cart-main-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cart-main-list {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  width: 64%;
}

.cart-list-title {
  height: 50px;
  padding-left: 15px;
  line-height: 50px;
}

.cart-list-title span:nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}

.cart-list-item {
  border-top: 1px solid #e2e2e2;
  height: 215px;
  box-sizing: border-box;
  padding: 17px;
  display: flex;
}

.cart-item-checkbox {
  width: 7%;
  position: relative;
}

.custom-checkbox {
  transform: scale(1.7);
  position: absolute;
  top: 60px;
  right: 7px;
}

.product-image {
  width: 140px;
  height: 140px;
  margin-right: 7px;
  background-repeat: no-repeat;
  background-size: cover;
}

.cart-item-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cart-item-title {
  font-size: 15px;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-item-title span:nth-child(2) {
  text-decoration: underline;
  cursor: pointer;
}

.cart-item-arrived-date {
  font-size: 14px;
  height: 15%;
  color: #3a9b33;
}

.cart-item-arrived-date span {
  color: gray;
}

.cart-item-price-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}

.cart-item-price-info > span {
  color: gray;
  font-size: 13px;
}

.cart-item-price-info > span span {
  text-decoration: line-through;
}

.cart-item-price-info > div {
  display: flex;
}

.cart-item-price-info div span {
  font-size: 20px;
  font-weight: bold;
}

.rocketwow-logo {
  margin-left: 5px;
  background-image: url('./images/rocket-logo.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 100px;
  height: 16px;
}

.cash-label {
  display: flex;
  border: 1px solid #e2e2e2;
  border-radius: 9px;
  max-width: 35%;
  height: 17px;
  margin-bottom: 15px;
  font-size: 14px;
  padding: 3px 5px 0px 5px;
}

.cash-label-logo {
  background-image: url('./images/cash-label-image.png');
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.counter {
  width: 100px;
  margin-top: 10px;
  padding: 6px;
  padding-left: 45px;
  box-sizing: border-box;
}

.cart-list-add {
  height: 50px;
  background-color: #f9fafb;
}

.cart-list-add a {
  display: block;
  color: #346aff;
  font-size: 14px;
  text-decoration: none;
  line-height: 50px;
  width: 145px;
  margin: 0 auto;
}

.printer {
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  width: 34%;
  height: 255px;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.printer-header {
  font-size: 18px;
  font-weight: bold;
}

.printer-info {
  font-size: 14px;
}

.printer-info div {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.printer-info div span span {
  font-weight: bold;
  font-size: 15px;
}

.total-discount {
  color: #cb1301;
}

.divider {
  height: 1px;
  border-top: 1px solid #e2e2e2;
}

.total-price-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.total-price {
  font-size: 20px;
  font-weight: bold;
}

.purchase-btn {
  background-color: #346aff;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-main-benefit {
  padding: 20px 25px;
  box-sizing: border-box;
  border: 1px solid #e2e2e2;
  height: 83px;
  display: flex;
}

.cash-logo {
  width: 25px;
  height: 25px;
  background-image: url('./images/cash-label-image.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 10px;
}

.control {
  display: flex;
  align-items: center;
  margin: 20px 0px;
}

.all-select {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.all-select label {
  font-size: 12px;
  cursor: pointer;
}

.option-delete-btn {
  background-color: white;
  border: 1px solid #e2e2e2;
  padding: 5px;
  font-size: 12px;
  margin-right: 10px;
  cursor: pointer;
}

.cash-benefit-content {
  font-size: 14px;
  font-weight: bold;
}

.cash-benefit-content div:nth-child(2) {
  margin-top: 10px;
  font-weight: initial;
}
